* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}


nav {
    background-color: #413f3fbe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
    margin-left: auto;
    margin-right: auto;
    /* text-align: right; */
    /* flex-wrap: 20px; */
    padding: 25px;
    width: 100;
}

#nav-items {
    display: flex;
    gap: 20px;
    /* padding-left: 20px; */
}

.navmenu {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
}

.text-white {
    color: white;
}

header {
    background-image: url(../assets/images/hero-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 53px;
}

.input-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;

}

input {
    width: 70%;
    padding: 15px;
    border-radius: 5px;
}

.input-bg {
    background-color: #413f3fbe;
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

.search-btn {
    padding: 3%;
    border: none;
    background-color: red;
    color: white;
    width: 20%;
    border-radius: 5px;
}

.main-container {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    padding: 40px;
}

.main-container2 {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    padding: 40px;
}

.main-container2 h1 {
    text-align: left;
    font-size: 72px;
    line-height: 72px;
    padding-bottom: 25px;
    color: #322429;
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    /* align-items: center; */
    gap: 10%;
    padding-bottom: 4%;
}

.main-container h1 {
    text-align: center;
    font-size: 72px;
    padding-bottom: 4%;
    color: #322429;
    line-height: 72px;

}

.text-container {
    width: 100%;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
}

.main-section {
    width: 100%;
}

.text-container h2 {
    padding-bottom: 5%;
}

.text-container p {
    line-height: 1.6;
    margin-bottom: 1.2rem;
    color: #6d6c6c;

}

.text-container p a {
    color: red;
}

.flex-home {
    display: flex;
    gap: 5%;
    padding-bottom: 4%;
    line-height: 1, 6;
}

.home-grid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    padding: 40px;

}

.home-grid h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 4%;
}

.home-item img {
    width: 100%;
}

.home-item a {
    color: red;
}

.home-item p {
    line-height: 1.6;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #6d6c6c;
}

.sub-section {
    background-color: #22242B;
    text-align: center;
    padding: 100px;
    width: 80%;
    margin: auto;

}

.sub-section input {
    width: 30%;
    border-radius: 5px;

}

.search-btn2 {
    padding: 17px;
    border: none;
    background-color: red;
    color: white;
    width: 20%;
    border-radius: 5px;
}

.sub-section p {
    padding-bottom: 50px;
}

.sub-section h1 {
    font-size: 70px;
    padding-bottom: 30px;
}

.sub-section div {
    display: flex;
    margin: auto;
    gap: 25px;
    justify-content: center;
}

.main-container2 .text-container {
    width: 60%;
}

.main-container2 .image-container {
    width: 50%;
}

.main-container2 .flex-container{
    width: 89%;
    margin: auto;
}
.main-footer{
    /* padding: 20px;; */
    margin: auto;
    /* display: flex; */
    /* justify-content: center; */
    background-color: #22242B;
    width: 100%;
}
.footer-flex{
    display: flex;
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    width: 85%;
    padding: 100px 70px;
    gap: 40px;
}
.footer-items{
    display: flex;
    width: 75%;
    padding-left: 100px;
    justify-content: space-evenly;
    margin: auto;
    /* gap: 6rem; */
    /* justify-items: center; */
    /* border-left: 1px solid gray; */

}
.footer-logo{
    width: 25%;
    /* border-right: 1px solid gray; */
}
.footer-items p{
    padding-bottom: 25px;
    font-size: 15pt;
    text-align: left;
    color: white;
}
.footer-items div li{
    list-style-type: none;
    line-height: 2;
}
.footer-items div li a{
    text-decoration: none;
    color: #BDBEC0;
}
.footer-logo h1{
    color: white;
    padding-bottom: 25px;
}
.footer-logo p{
    color: #bdbec0;
    padding-bottom: 25px;
}
.footer-logo button{
    padding: 17px;
    border: none;
    background-color: red;
    color: white;
    width: 100%;
    border-radius: 5px;
}
.border-left{
    border-left: 1px solid gray;
}
